.editor {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

@keyframes pop {
  from { height: 0px; }
  to { height: 32px; }
}


.annotation {
  animation: pop 0.2s normal forwards ease-in-out;
}
