.header {
  background-color: #ed4d7f;
  height: 32px;
  display: flex;
  align-items: center;
}

.header svg {
  height: 16px;
  padding: 0 0 0 8px;
}

.header svg path {
  //stroke: white;
  fill: white;
}
