.play-button {
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  font-family: "Overpass Mono", monospace;
  padding: 2px 10px 0 10px;
  cursor: pointer;
  background: #f29cba;
  border: 1px solid #ed4d7e;
  margin: 4px 0 4px 4px;
}

.play-button:focus,
.play-button--focused {
  outline: 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
