.separator {
  background-color: #ed4d7f;
}

.separator--landscape {
  width: 6px;
  height: 100%;
  border-right: 2px solid #f192af;
}

.separator--portrait {
  width: 100%;
  height: 6px;
  border-top: 2px solid #f192af;
}
