.tab {
  border: 0;
  height: 28px;
  margin: 0 0 0 2px;
  border-radius: 0 0 4px 4px;
  font-weight: bold;
  font-family: "Overpass Mono";
  font-size: 14px;
  cursor: pointer;
}

.tab:focus {
  outline: none;
}

.tab--active {
  background: #eee;
}

.tab--inactive {
  background: #eb6c92;
}
